// _colors.scss


//Color definitions
$lightgray: #ccc;
$darkgray: #444;
$white: #fff;
$red: #e00;
$orange: #f90;
$green: #0f0;


//Color semantics
$background: $lightgray;
$window: $white;
$mod-message-color: $darkgray;

