//Color definitions
$lightgray: #ccc;
$white: #fff;

//Color semantics
$background: $lightgray;
$window: $white;

body {
  background-color: $background;
  font-family: 'Noto Sans', sans-serif;
}

.main-title,
.message-window,
.participant-list {
  background-color: $window;
  border-radius: 4px;
  padding: 4px;
}

.message-window ul, .participant-list ul{
  list-style: none;
}

.main-title {
  text-align: center;
  margin-bottom: 5vh;
}

.message-window {
  min-height: 80vh;
}

.message-window li {
  clear: both;
  margin-bottom: 15px;
}

.header {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.screen-name, .mod-name {
  font-weight: 700;
}

.message, .mod-message {
  display: inline-block;
  float: right;
  width: 70%;
  clear: both;
}

.mod-message {
  text-decoration: underline;
}


